.ilSurResetTreeNode {
    display: flex;
}

.ilSurResetTreeNode .c-tree__node__line {
    padding-left: 0 !important;
}

.ilSurResetTreeNode input[type="checkbox"] {
    margin: 0 !important;
}

.objectSelectorList ul, .multipleSelectorList ul {
    list-style: disc !important;
}